/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #4EA685;
}

nav a, button {
    color: #fff;
    background-color: #4EA685;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
}

form div {
    margin-bottom: 15px;
}

form input[type="text"], form input[type="email"] {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #57B894;
}

.btn-danger {
    background-color: #d9534f;
}

.btn-secondary {
    background-color: #6c757d;
}
